<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Common Mapper -->
<mapper namespace="OracleCommonMapper">
	<!-- Paging Start -->
	<sql id="PagingStart">
		SELECT * FROM (SELECT rownum AS rn, t.* FROM( 
	</sql>
	
	<!-- Paging End -->
	<sql id="PagingEnd">
		 ) t WHERE rownum &lt;= ${start}*(${limit}+1)) pgrs WHERE pgrs.rn &gt;= ${start}*${limit}+1
	</sql>
	
	<!-- query result Sort information -->
	<sql id="sortInfo">
		<if test=" sort != null and sort != '' ">
			ORDER BY ${sort}
			</if>
		<if test=" dir != null and dir != '' ">
			${dir}
		</if>
	</sql>
</mapper>