.redStar {
	color: #FF0000;
	vertical-align: middle;
	padding: 3px;
}

.red {
	color: #FF0000;
	padding: 0px 1px;
}

.blue {
	color: #0066FF;
	padding: 0px 1px;
}

.center {
	text-align: center;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.formOutSide {
	background-color: #F5F5F5;
	padding: 5px 0px;
	margin-bottom: 3px;
	border-top: 1px solid #DDDDDD;
}

.rectangle-header {
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	padding: 5px 10px;
}

footer {
	background: none repeat scroll 0 0 #F0F0F0;
	border-top: 1px solid #CCCCCC;
	min-height: 8em;
	overflow: hidden;
	font-size: 85%;
}

footer ul {
	box-shadow : none;
	margin: 20px 0px;
}

footer li {
	display : inline-block;
	margin-right: 5px;
}

i {
	padding: 0 3px;
}