body {
	margin-top: -20px;
	margin-left: 0;
	margin-right: 0;
}

h2 {
 text-align: center;
 margin-top: 1em;
}

div.refresh {
	margin-top: -20px;
	text-align: center;
	margin-left: 300px;
	font-size: 17px;
}

div.logContent {

}

div.logContent p {
	margin-left: 20px;
}

div.logContent hr {
	width: 99%;
	border-width: 2px;
	border-color: EAEAEA;
}

table {
 /*border-left: 2px solid #AAA;
  border-right: 2px solid #AAA;*/
}

tr.even {
 background: #FFFFFF;
}

tr.odd {
 background: #EAEAEA;
}

tr.error {
 font-weight: bold;
 color: #FF4040
}

td {
 padding-right: 1ex;
 padding-left: 1ex;
 padding-top: 0ex;
 /*border-right: 2px solid #AAA;*/
}

td.Date {
 text-align: center;
 font-family: courier, monospace;
 font-size: smaller;
 width: 20%;
}

td.Thread {
 text-align: left;
 width: 10%;
}

td.Level {
 text-align: right;
 width: 5%;
}

td.Logger {
 text-align: left;
 width: 13%;
}

tr.header {
 background: #596ED5;
 color: #FFF;
 font-weight: bold;
 font-size: larger;
}

td.Exception {
 background: #A2AEE8;
 font-family: courier, monospace;
}

td.sexy {
 border-top: 2px solid #DDD;
 border-left: 2px solid #DDD;
 border-right: 2px solid #888;
 border-bottom: 2px solid #888;
}

.red {
 color: #CC0000;
}

.orange {
 color: #FF6600;
}

A.sexy,INPUT.sexy,span.sexy { /*background: #FFF; */
 color: #0079C5;
 font-weight: bold;
 font-family: "Comic Sans MS", sans-serif;
 font-size: 14px;
 white-space: nowrap;
 padding: 0px 1em 0px 1em;
 margin: 5px 0px 3px 0px;
 text-decoration: none;
}

td.sexy:hover,A.sexy:hover,INPUT.sexy:hover,INPUT.sexy_hover,span.sexy:hover
 {
 background: #E0E0EF;
}