<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CostBudgetMapper">

	<resultMap id="BaseResultMap" type="com.parrot.app.entity.CostBudget">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="PID" property="pid" jdbcType="DECIMAL" />
		<result column="TYPE" property="type" jdbcType="VARCHAR" />
		<result column="DETAIL" property="detail" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="MONEY" property="money" jdbcType="DOUBLE" />
	</resultMap>

	<sql id="Base_Column_List">
		ID,PID,TYPE,DETAIL,REMARK,MONEY
  	</sql>

	<sql id="Where_Clause">
		<where>
      		<if test="pid != null">
				AND PID = #{pid,jdbcType=DECIMAL}
      		</if>
      		<if test="type != null and type != ''">
				AND TYPE = #{type,jdbcType=VARCHAR}
      		</if>
		</where>
	</sql>

	<insert id="insert" parameterType="com.parrot.app.entity.CostBudget">
		insert into T_COST_BUDGET
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pid != null">PID,</if>
			<if test="type != null and type != ''">TYPE,</if>
			<if test="detail != null and detail != ''">DETAIL,</if>
			<if test="remark != null and remark != ''">REMARK,</if>
			<if test="money != null">MONEY,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pid != null">#{pid,jdbcType=DECIMAL},</if>
			<if test="type != null and type != ''">#{type,jdbcType=VARCHAR},</if>
			<if test="detail != null and detail != ''">#{detail,jdbcType=VARCHAR},</if>
			<if test="remark != null and remark != ''">#{remark,jdbcType=VARCHAR},</if>
			<if test="money != null">#{money,jdbcType=DOUBLE},</if>
		</trim>
	</insert>
	
	<update id="update" parameterType="com.parrot.app.entity.Project">
		update T_COST_BUDGET
		<set>
			<if test="pid != null">PID = #{pid,jdbcType=DECIMAL},</if>
			<if test="type != null and type != ''">TYPE = #{type,jdbcType=VARCHAR},</if>
			<if test="detail != null and detail != ''">DETAIL = #{detail,jdbcType=VARCHAR},</if>
			<if test="remark != null and remark != ''">REMARK = #{remark,jdbcType=VARCHAR},</if>
			<if test="money != null">MONEY = #{money,jdbcType=DOUBLE},</if>
		</set>
		where ID = #{id,jdbcType=DECIMAL}
	</update>

	<select id="selectList" parameterType="hashmap"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_COST_BUDGET 
		<include refid="Where_Clause" />
	</select>
	
	<delete id="delete">
		delete from T_COST_BUDGET where PID = #{pid,jdbcType=DECIMAL}
		AND TYPE = #{type,jdbcType=VARCHAR}
	</delete>
	
</mapper>