<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PageAuthMapper">

	<cache eviction="LRU" type="org.thorn.dao.mybatis.cache.CustomCache">
		<property name="springBean" value="ehcacheService" />
	</cache>

	<resultMap id="BaseResultMap"
		type="org.thorn.workflow.entity.PageAuth">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="ACTIVITYID" property="activityId" jdbcType="VARCHAR" />
		<result column="PROCESSDFID" property="processDfId" jdbcType="VARCHAR" />
		<result column="AUTH" property="auth" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID,ACTIVITYID, PROCESSDFID, AUTH
  	</sql>

	<sql id="Where_Clause">
		<where>
			<if test="activityId != null and activityId != ''">
				AND ACTIVITYID = #{activityId,jdbcType=VARCHAR}
      		</if>
			<if test="processDfId != null and processDfId != ''">
				AND PROCESSDFID = #{processDfId,jdbcType=VARCHAR}
      		</if>
		</where>
	</sql>

	<insert id="insert" parameterType="org.thorn.workflow.entity.PageAuth">
		insert into JBPM4_EXTEND_PAGEAUTH
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="activityId != null and activityId != ''">ACTIVITYID,</if>
			<if test="processDfId != null and processDfId != ''">PROCESSDFID,</if>
			<if test="auth != null and auth != ''">AUTH,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="activityId != null and activityId != ''">#{activityId,jdbcType=VARCHAR},</if>
			<if test="processDfId != null and processDfId != ''">#{processDfId,jdbcType=VARCHAR},</if>
			<if test="auth != null and auth != ''">#{auth,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	<update id="update" parameterType="org.thorn.workflow.entity.PageAuth">
		update JBPM4_EXTEND_PAGEAUTH
		<set>
			<if test="activityId != null and activityId != ''">ACTIVITYID = #{activityId,jdbcType=VARCHAR},</if>
			<if test="processDfId != null and processDfId != ''">PROCESSDFID = #{processDfId,jdbcType=VARCHAR},</if>
			<if test="auth != null and auth != ''">AUTH = #{auth,jdbcType=VARCHAR},</if>
		</set>
		where ID = #{id,jdbcType=DECIMAL}
	</update>

	<delete id="delete">
		delete from JBPM4_EXTEND_PAGEAUTH where ID in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item,jdbcType=DECIMAL}
		</foreach>
	</delete>

	<select id="selectPage" resultMap="BaseResultMap" parameterType="hashmap">
		<include refid="MySQLCommonMapper.pagingStart" />
		select
		<include refid="Base_Column_List" />
		from JBPM4_EXTEND_PAGEAUTH 
		<include refid="Where_Clause" />
		<include refid="MySQLCommonMapper.sortInfo" />
		<include refid="MySQLCommonMapper.pagingEnd" />
	</select>

	<select id="selectPageCount" parameterType="hashmap" resultType="long">
		select count(*) from JBPM4_EXTEND_PAGEAUTH 
		<include refid="Where_Clause" />
	</select>

</mapper>