<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ProcessMapper">

	<resultMap id="BaseResultMap" type="org.thorn.process.entity.Process">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="PID" property="pid" jdbcType="DECIMAL" />
		<result column="FLOWTYPE" property="flowType" jdbcType="VARCHAR" />
		<result column="ACTIVITY" property="activity" jdbcType="VARCHAR" />
		<result column="FLOWSTATUS" property="flowStatus" jdbcType="VARCHAR" />
		<result column="CREATER" property="creater" jdbcType="VARCHAR" />
		<result column="CREATERNAME" property="createrName" jdbcType="VARCHAR" />
		<result column="CREATETIME" property="createTime" jdbcType="VARCHAR" />
		<result column="HANDLER" property="handler" jdbcType="VARCHAR" />
		<result column="HANDLERTYPE" property="handlerType" jdbcType="VARCHAR" />
		<result column="PROVINCE" property="province" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID,PID,FLOWTYPE,ACTIVITY,FLOWSTATUS,CREATER,CREATERNAME,
		CREATETIME,HANDLER,HANDLERTYPE,PROVINCE
  	</sql>
	
	<sql id="Pending_Clause">
		AND ((HANDLERTYPE = 'role' and HANDLER in 
		<foreach collection="roleList" item="item" open="(" close=")"
			separator=",">
			#{item,jdbcType=VARCHAR}
		</foreach>) 
		OR (HANDLERTYPE = 'user' and HANDLER = #{userId,jdbcType=VARCHAR}))
	</sql>
	
	<sql id="Where_Clause">
		<if test="id != null">
			AND ID = #{id,jdbcType=DECIMAL}
   		</if>
   		<if test="pid != null">
			AND PID = #{pid,jdbcType=DECIMAL}
   		</if>
   		<if test="flowType != null and flowType != ''">
			AND FLOWTYPE = #{flowType,jdbcType=VARCHAR}
   		</if>
   		<if test="province != null and province != ''">
			AND PROVINCE = #{province,jdbcType=VARCHAR}
   		</if>
   		<if test="flowStatus != null and flowStatus != ''">
			AND FLOWSTATUS = #{flowStatus,jdbcType=VARCHAR}
   		</if>
   		<if test="creater != null and creater != ''">
			AND CREATER = #{creater,jdbcType=VARCHAR}
   		</if>
   		<if test="createrName != null and createrName != ''">
			AND CREATERNAME like CONCAT('%',#{createrName,jdbcType=VARCHAR},'%')
   		</if>
   		<if test="startTime != null and startTime != ''">
			AND CREATETIME &gt;= #{startTime,jdbcType=VARCHAR}
    	</if>
    	<if test="endTime != null and endTime != ''">
			AND CREATETIME &lt;= #{endTime,jdbcType=VARCHAR}
    	</if>
	</sql>

	<select id="selectPage" parameterType="hashmap"
		resultMap="BaseResultMap">
		<include refid="MySQLCommonMapper.pagingStart"/>
		select
		<include refid="Base_Column_List" />
		from T_WORKFLOW 
		where <include refid="Pending_Clause" />
		<include refid="Where_Clause" />
		<include refid="MySQLCommonMapper.sortInfo"/>
		<include refid="MySQLCommonMapper.pagingEnd"/>
	</select>
	<select id="selectPageCount" parameterType="hashmap"
		resultType="long">
		select count(*) from T_WORKFLOW 
		where <include refid="Pending_Clause" />
		<include refid="Where_Clause" />
	</select>
	
	<select id="selectList" parameterType="hashmap"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_WORKFLOW where 1=1 
		<include refid="Where_Clause" />
	</select>
	

	<insert id="insert" keyProperty="id" useGeneratedKeys="true" 
		parameterType="org.thorn.process.entity.Process">
		insert into T_WORKFLOW
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pid != null">PID,</if>
			<if test="flowType != null and flowType != ''">FLOWTYPE,</if>
			<if test="activity != null and activity != ''">ACTIVITY,</if>
			<if test="flowStatus != null and flowStatus != ''">FLOWSTATUS,</if>
			<if test="creater != null and creater != ''">CREATER,</if>
			<if test="createrName != null and createrName != ''">CREATERNAME,</if>
			<if test="createTime != null and createTime != ''">CREATETIME,</if>
			<if test="handler != null and handler != ''">HANDLER,</if>
			<if test="handlerType != null and handlerType != ''">HANDLERTYPE,</if>
			<if test="province != null and province != ''">PROVINCE,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pid != null">#{pid,jdbcType=DECIMAL},</if>
			<if test="flowType != null and flowType != ''">#{flowType,jdbcType=VARCHAR},</if>
			<if test="activity != null and activity != ''">#{activity,jdbcType=VARCHAR},</if>
			<if test="flowStatus != null and flowStatus != ''">#{flowStatus,jdbcType=VARCHAR},</if>
			<if test="creater != null and creater != ''">#{creater,jdbcType=VARCHAR},</if>
			<if test="createrName != null and createrName != ''">#{createrName,jdbcType=VARCHAR},</if>
			<if test="createTime != null and createTime != ''">#{createTime,jdbcType=VARCHAR},</if>
			<if test="handler != null and handler != ''">#{handler,jdbcType=VARCHAR},</if>
			<if test="handlerType != null and handlerType != ''">#{handlerType,jdbcType=VARCHAR},</if>
			<if test="province != null and province != ''">#{province,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	
	<update id="update" parameterType="org.thorn.process.entity.Process">
		update T_WORKFLOW
		<set>
			<if test="pid != null and pid != ''">PID = #{pid,jdbcType=DECIMAL},</if>
			<if test="flowType != null and flowType != ''">FLOWTYPE = #{flowType,jdbcType=VARCHAR},</if>
			<if test="activity != null and activity != ''">ACTIVITY = #{activity,jdbcType=VARCHAR},</if>
			<if test="flowStatus != null and flowStatus != ''">FLOWSTATUS = #{flowStatus,jdbcType=VARCHAR},</if>
			<if test="creater != null and creater != ''">CREATER = #{creater,jdbcType=VARCHAR},</if>
			<if test="createrName != null and createrName != ''">CREATERNAME = #{createrName,jdbcType=VARCHAR},</if>
			<if test="createTime != null and createTime != ''">CREATETIME = #{createTime,jdbcType=VARCHAR},</if>
			<if test="handler != null and handler != ''">HANDLER = #{handler,jdbcType=VARCHAR},</if>
			<if test="handlerType != null and handlerType != ''">HANDLERTYPE = #{handlerType,jdbcType=VARCHAR},</if>
			<if test="province != null and province != ''">PROVINCE = #{province,jdbcType=VARCHAR},</if>
		</set>
		where ID = #{id,jdbcType=DECIMAL}
	</update>

</mapper>