<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ProcessMapper">

	<resultMap id="BaseResultMap" type="org.thorn.process.entity.Process">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="PID" property="pid" jdbcType="DECIMAL" />
		<result column="FLOWTYPE" property="flowType" jdbcType="VARCHAR" />
		<result column="ACTIVITY" property="activity" jdbcType="VARCHAR" />
		<result column="FLOWSTATUS" property="flowStatus" jdbcType="VARCHAR" />
		<result column="CREATER" property="creater" jdbcType="VARCHAR" />
		<result column="CREATERNAME" property="createrName" jdbcType="VARCHAR" />
		<result column="CREATETIME" property="createTime" jdbcType="VARCHAR" />
		<result column="HANDLER" property="handler" jdbcType="VARCHAR" />
		<result column="HANDLERTYPE" property="handlerType" jdbcType="VARCHAR" />
		<result column="PROVINCE" property="province" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID,FLOWID, ACTIVITYNAME, USERID, USERNAME,TIME, MIND
  	</sql>

	<sql id="Where_Clause">
		<where>
			<if test="flowId != null and flowId != ''">
				AND FLOWID = #{flowId,jdbcType=DECIMAL}
      		</if>
		</where>
	</sql>

	<insert id="insert" parameterType="org.thorn.process.entity.FlowMinds">
		insert into T_FLOW_MINDS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="flowId != null and flowId != ''">FLOWID,</if>
			<if test="activityName != null and activityName != ''">ACTIVITYNAME,</if>
			<if test="userId != null and userId != ''">USERID,</if>
			<if test="userName != null and userName != ''">USERNAME,</if>
			<if test="mind != null and mind != ''">MIND,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="flowId != null and flowId != ''">#{flowId,jdbcType=DECIMAL},</if>
			<if test="activityName != null and activityName != ''">#{activityName,jdbcType=VARCHAR},</if>
			<if test="userId != null and userId != ''">#{userId,jdbcType=VARCHAR},</if>
			<if test="userName != null and userName != ''">#{userName,jdbcType=VARCHAR},</if>
			<if test="mind != null and mind != ''">#{mind,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	
	<select id="queryList" parameterType="hashmap" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_FLOW_MINDS
		<include refid="Where_Clause" />
		order by TIME ASC
	</select>

</mapper>