<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FlowTypeMapper">

	<cache eviction="LRU" type="org.thorn.dao.mybatis.cache.CustomCache">
		<property name="springBean" value="ehcacheService" />
	</cache>

	<resultMap id="BaseResultMap"
		type="org.thorn.workflow.entity.FlowType">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="FLOWNAME" property="flowName" jdbcType="VARCHAR" />
		<result column="FLOWKEY" property="flowKey" jdbcType="VARCHAR" />
		<result column="FLOWTYPE" property="flowType" jdbcType="VARCHAR" />
		<result column="FLOWDESC" property="flowDesc" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID,FLOWNAME, FLOWKEY, FLOWTYPE, FLOWDESC
  	</sql>

	<sql id="Where_Clause">
		<where>
			<if test="flowName != null and flowName != ''">
				AND FLOWNAME = #{flowName,jdbcType=VARCHAR}
      		</if>
			<if test="flowKey != null and flowKey != ''">
				AND FLOWKEY = #{flowKey,jdbcType=VARCHAR}
      		</if>
			<if test="flowType != null and flowType != ''">
				AND FLOWTYPE = #{flowType,jdbcType=VARCHAR}
      		</if>
      		<if test="id != null">
				AND ID = #{id,jdbcType=DECIMAL}
      		</if>
		</where>
	</sql>

	<insert id="insert" parameterType="org.thorn.workflow.entity.FlowType">
		insert into JBPM4_EXTEND_FLOWTYPE(FLOWNAME,FLOWKEY,FLOWTYPE,FLOWDESC) 
		values(#{flowName,jdbcType=VARCHAR},#{flowKey,jdbcType=VARCHAR},
				#{flowType,jdbcType=VARCHAR},#{flowDesc,jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="org.thorn.workflow.entity.FlowType">
		update JBPM4_EXTEND_FLOWTYPE set FLOWTYPE = #{flowType,jdbcType=VARCHAR}
		,FLOWDESC = #{flowDesc,jdbcType=VARCHAR}, FLOWNAME = #{flowName,jdbcType=VARCHAR}
		<if test="id != null">
			where ID = #{id,jdbcType=DECIMAL}
		</if>
		<if test="flowKey != null and flowKey != ''">
			where FLOWKEY = #{flowKey,jdbcType=VARCHAR}
		</if>
	</update>

	<select id="queryList" parameterType="hashmap" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from JBPM4_EXTEND_FLOWTYPE 
		<include refid="Where_Clause" />
	</select>
	
	<delete id="delete">
		delete from JBPM4_EXTEND_FLOWTYPE where ID in
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item,jdbcType=DECIMAL}
		</foreach>
	</delete>
	
	
</mapper>