<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<!-- NCFramework组件DAO开始 -->
	
	<!-- DataDict DAO -->
	
	<!-- 数据字典类型Dao -->
	<bean id="dictTypeDAO" class="com.talkweb.ncframework.modules.datadict.dao.impl.DictTypeDAOImpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>

	<!-- 数据字典项Dao -->
	<bean id="dictEntryDAO" class="com.talkweb.ncframework.modules.datadict.dao.impl.DictEntryDAOImpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>
	
	
	<!-- Log DAO -->
	
	<!-- 系统操作日志Dao -->
	<bean id="sysOperateLogDAO" class="com.talkweb.ncframework.modules.log.dao.impl.SysOperateLogDAOImpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>
	
	
	<!-- 公共DAO -->
	<bean id="genericDAO" class="com.talkweb.ncframework.pub.dao.GenericDAOMyBatisImpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>
	
	<!-- 角色DAO -->
	<bean id="roleDAO" class="com.talkweb.ncframework.modules.rights.role.rolemanage.dao.impl.RoleDAOImpl" scope="prototype">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>
	
	<!-- 系统菜单DAO -->
	<bean id="systemMenuDAO" class="com.talkweb.ncframework.modules.rights.menu.dao.impl.SystemMenuDAOImpl" scope="prototype">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>
	
	<!-- NCFramework组件DAO结束 -->
	
</beans>