<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<!-- NCFramework组件服务开始 -->
	<!-- Cache Service -->
	
	<!-- 缓存管理 -->
	<bean id="cacheManage" class="com.talkweb.ncframework.pub.cache.ehcache.EhCacheManageImpl">
		<property name="cache">
			<ref bean="cacheProvider" />
		</property>
	</bean>
	
	<!-- 缓存提供 -->
	<bean id="cacheProvider" 
   		class="org.springframework.cache.ehcache.EhCacheFactoryBean">
      <property name="cacheManager">
         <bean class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
         	<property name="configLocation" value="classpath:ehcache.xml"/>
         </bean>
      </property>
      <property name="cacheName" value="basicCache"/>
   </bean>   
    
   	<!-- 配置任务线程池 -->
   	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">    
	    <property name="corePoolSize" value="5" />
	    <property name="maxPoolSize" value="10" />
	    <property name="queueCapacity" value="25" />
	    <property name="keepAliveSeconds" value="60" />
	</bean>
	
	<!-- 定义操作日志切入点和通知器 -->
	<aop:config proxy-target-class="true">    
	    <aop:pointcut id="operatePoint"    
	        expression="@annotation(com.talkweb.ncframework.pub.annotation.OperateLog)" />    
	    <aop:advisor pointcut-ref="operatePoint" id="logAdvisor"
	        advice-ref="operateLogInterceptor" />    
	</aop:config>
	
	<!-- 配置操作日志拦截器 -->
    <bean id="operateLogInterceptor" class="com.talkweb.ncframework.modules.log.intercept.WriteOperateLogInterceptor">
    	<property name="logService" ref="logService"></property>
    	<property name="taskExecutor" ref="taskExecutor"></property>
    </bean>
   
   
	<!-- DataDict Service -->

	<!-- 数据字典Service -->
	<bean id="dictService" class="com.talkweb.ncframework.modules.datadict.service.impl.DictServiceImpl">
		<property name="dictTypeDAO">
			<ref bean="dictTypeDAO" />
		</property>
		<property name="dictEntryDAO">
			<ref bean="dictEntryDAO" />
		</property>
		<property name="cacheManage">
			<ref bean="cacheManage" />
		</property>
	</bean>
	
	<!-- Log Service -->

	<!-- 日志Service -->
	<bean id="logService" class="com.talkweb.ncframework.modules.log.service.impl.LogServiceImpl">
		<property name="sysOperateLogDAO">
			<ref bean="sysOperateLogDAO" />
		</property>
	</bean>
	<!-- 角色Service -->
	<bean id="roleService" class="com.talkweb.ncframework.modules.rights.role.rolemanage.service.impl.RoleServiceImpl" scope="prototype">
		<property name="roleDAO" ref="roleDAO"></property>
	</bean>
	
	<!-- 系统菜单Service -->
	<bean id="systemMenuService" class="com.talkweb.ncframework.modules.rights.menu.service.impl.SystemMenuServiceImpl" scope="prototype">
		<property name="systemMenuDAO" ref="systemMenuDAO"></property>
	</bean>
	
	<!-- 附件上传service -->
	<!-- NCFramework组件服务结束-->
	<bean id="fileService" class="com.talkweb.ncfw.file.FileServiceImpl">
		<property name="genericDAO" ref="genericDAO" />
	</bean>
	
    <!--JCaptcha验证码服务 -->  
    <bean id="captchaService" class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService">  
        <property name="captchaEngine">  
            <bean class="com.talkweb.security.jcaptcha.GMailEngine" />  
        </property>  
        <property name="minGuarantedStorageDelayInSeconds" value="600" />  
    </bean>  
	
	
</beans>